<%= form_with(model: meeting, local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :meeting_title, class: 'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, id: :meeting_subtitle, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_area :location, id: :meeting_location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :eventstart %>
    <%= form.datetime_select :eventstart, id: :meeting_eventstart, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :timeofevent %>
    <%= form.text_field :timeofevent, id: :meeting_timeofevent, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_area :url, id: :meeting_url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :meeting_body, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :googlemapurl %>
    <%= form.text_area :body, id: :meeting_googlemapurl, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
