
<div>
  <p id="notice"><%= notice %></p>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag @blogs[@count-1].img, class: "first-slide", alt: @blogs[@count-1].title %>
        <div class="container">
          <div class="carousel-caption">
            <h1><%= @blogs[@count-1].title %></h1>
            <p><%= @blogs[@count-1].subtitle %></p>
            <%= link_to "Learn More", "/blogs/#{@blogs[@count-1].id}", class: "btn btn-lg btn-primary", role: "button" %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag @blogs[@count-2].img, class: "second-slide", alt: @blogs[@count-2].title %>
        <div class="container">
          <div class="carousel-caption">
            <h1><%= @blogs[@count-2].title %></h1>
            <p><%= @blogs[@count-2].subtitle %></p>
            <%= link_to "Learn More", "/blogs/#{@blogs[@count-2].id}", class: "btn btn-lg btn-primary", role: "button" %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag @blogs[@count-3].img, class: "third-slide", alt: @blogs[@count-3].title %>
        <div class="container">
          <div class="carousel-caption">
            <h1><%= @blogs[@count-3].title %></h1>
            <p><%= @blogs[@count-3].subtitle %></p>
            <%= link_to "Learn More", "/blogs/#{@blogs[@count-3].id}", class: "btn btn-lg btn-primary", role: "button" %>
          </div>
        </div>
      </div>
    </div>
    
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container col-md-8 offset-md-2 topper">
  <div class="container"> 
    <div id="latest-blogpost">
      Latest
      <div class="row featurette">
        <div class="col-8">
          <%= link_to "/blogs/#{@blogs[@count-1].id}" do %>
            <%= image_tag @blogs[@count - 1].img, alt: @blogs[@count - 1].title, class:"img-fluid mx-auto latest-post-img"  %>
          <% end %>
        </div>
        <div class="col">
          <%= link_to "/blogs/#{@blogs[@count-1].id}" do %>
            <h1><%= @blogs[@count - 1].title %></h1>
            <h4><%= @blogs[@count - 1].subtitle %></h4>
            <p><%= @blogs[@count - 1].text[0, 149] + '...' %></p>
            <h6>Published on MM/DD/YYYY</h6>
          <% end %>
        </div>
      </div>
    </div>
    
    <div id="next-three-blogposts" class="row featurette topper">
      <% 3.times do |i| %>
        <% count = @count - 2 - i %>
        <div class="col">
          <%= link_to "/blogs/#{@blogs[count].id}" do %>
            <%= image_tag @blogs[count].img, alt: @blogs[count].title, class:"img-fluid mx-auto blog-post-img"  %>
            <h4><%= @blogs[count].title %></h4>
            <h6><%= @blogs[count].subtitle %></h6>
            <p>Published on MM/DD/YYYY</p>
          <% end %>
        </div>
      <% end %>
    </div>
    
  </div>

  
  <hr class="featurette-divider">

  <div class="container">
    <%= link_to 'New Blog', new_blog_path %>
  </div>
</div>

