<% colors = ["#00bfbf", "#007f7f", "#007f7f"] %>
<div class="container col-md-8 offset-md-2 topper" style="margin-top: 100px;">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <div id="latest-blogpost">
      <h3 class="lede">Latest News</h3>
      <hr class="featurette-divider">
      <% for blog in @blogs.each do %>

          <div style= "
          background-image: <%= image_url blog.img %>;
          width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
          border-top: 2px solid #ffff;
          padding-bottom: 3rem;
          margin-top: 50px;
          background-color: #340086;
          height: 500px;
          background-position: center;
          ">

          <div style="maring: 30px; padding: 30px 50px; background: rgba(0,0,0,0.5)">
            <%= link_to "/blogs/#{blog.id}" do %>
              <h2 class="text_white"><%= blog.title %></h2>
              <h4 class="lede"><%= blog.subtitle %></h4>
              <p>
                <span class="leed author">
                  <% if blog.updated_at > blog.created_at %>
                    Updated <%= blog.updated_at.to_s[5,5] %>
                  <% else %>
                    <%= blog.created_at.to_s[5,5] %>
                  <% end %>
                </span>
              </p>
            <% end %>
          </div>

          </div>

      <% end %>

      <hr class="featurette-divider">


  <div class="container">
    <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>
