<% colors = ["#00bfbf", "#007f7f", "#007f7f"] %>
<svg width="100%" height="480" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
 <!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit-->
 <g class="layer">
  <title>Layer 1</title>
  <path d="m0,58l-0.5,177.5l3035,100l-1,-274l-633.5,-3.5z" fill=<%= colors[0] %> id="svg_1" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
    <path d="m485.0325,269.13748l0,-1l1,1l-1,0z" fill="#007f7f" id="svg_25" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
  <path d="m354.61746,354.1575l0,0c-80.90972,0 -146.50001,-67.60498 -146.50001,-151l0,0c0,-83.395 65.59028,-151 146.50001,-151l0,0c38.85422,0 76.11707,15.90888 103.59114,44.22687c27.47408,28.318 42.90887,66.72543 42.90887,106.77313l0,0c0,40.04769 -15.43479,78.45513 -42.90887,106.77311l42.90887,0l0,44.22689l-146.50001,0z" fill="#00ffff" id="svg_3" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
 </g>
</svg>

<div class="container col-md-8 offset-md-2 topper">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <div id="latest-blogpost">
      <h3 class="lede">Latest</h3>
      <hr>

      <div class="row featurette">
        <div class="col-lg-8">
          <%= link_to "/blogs/#{@blogs[@count-1].id}" do %>
            <%= image_tag @blogs[@count - 1].img, alt: @blogs[@count - 1].title, class:"img-fluid mx-auto latest-post-img"  %>
          <% end %>
        </div>
        <div class="col-lg">
          <%= link_to "/blogs/#{@blogs[@count-1].id}" do %>
            <h2 class="headline"><%= @blogs[@count - 1].title %></h2>
            <h4 class="lede"><%= @blogs[@count - 1].subtitle %></h4>
            <p>
              <span class="leed author">
                <% if @blogs[@count-1].updated_at > @blogs[@count-1].created_at %>
                  Updated <%= @blogs[@count - 1].updated_at.to_s[5,5] %>
                <% else %>
                  <%= @blogs[@count - 1].created_at.to_s[5,5] %>
                <% end %>
              </span>
            </p>
          <% end %>
        </div>
      </div>
    </div>



    <% if @blogs.count >= 4 %>
    <div id="next-three-blogposts" class="row featurette topper">
      <% 3.times do |i| %>
        <% count = @count - 2 - i %>
        <div class="col-lg">
          <%= link_to "/blogs/#{@blogs[count].id}" do %>
            <%= image_tag @blogs[count].img, alt: @blogs[count].title, class:"img-fluid mx-auto blog-post-img"  %>
            <h4 class="headline"><%= @blogs[count].title %></h4>
            <h6 class="lede"><%= @blogs[count].subtitle %></h6>
            <p>
              <span class="lede author">
                <% if @blogs[count].updated_at > @blogs[count].created_at %>
                  Updated <%= @blogs[count].updated_at.to_s[5,5] %>
                <% else %>
                  <%= @blogs[count].created_at.to_s[5,5] %>
                <% end %>
              </span>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>

    <% if @blogs.count >= 7 %>
    <div id="next-three-blogposts" class="row featurette">
      <% 3.times do |i| %>
        <% count = @count - 5 - i %>
        <div class="col-lg">
          <%= link_to "/blogs/#{@blogs[count].id}" do %>
            <%= image_tag @blogs[count].img, alt: @blogs[count].title, class:"img-fluid mx-auto blog-post-img"  %>
            <h4 class="headline"><%= @blogs[count].title %></h4>
            <h6 class="lede"><%= @blogs[count].subtitle %></h6>
            <p>
              <span class="lede author">
                <% if @blogs[count].updated_at > @blogs[count].created_at %>
                  Updated <%= @blogs[count].updated_at.to_s[5,5] %>
                <% else %>
                  <%= @blogs[count].created_at.to_s[5,5] %>
                <% end %>
              </span>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <hr class="featurette-divider">

  <div class="container">
    <%= link_to 'New Blog', new_blog_path if logged_in?(:site_admin) %>
  </div>
</div>
