<div class="container col-md-8 offset-md-2 topper">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <div id="latest-blogpost">
      <h3 class="lede">Latest</h3>
      <hr>

      <div class="row featurette">
        <div class="col-lg-8">
          <%= link_to "/blogs/#{@blogs[@count-1].id}" do %>
            <%= image_tag @blogs[@count - 1].img, alt: @blogs[@count - 1].title, class:"img-fluid mx-auto latest-post-img"  %>
          <% end %>
        </div>
        <div class="col-lg">
          <%= link_to "/blogs/#{@blogs[@count-1].id}" do %>
            <h2 class="headline"><%= @blogs[@count - 1].title %></h2>
            <h4 class="lede"><%= @blogs[@count - 1].subtitle %></h4>
            <p>
              <span class="lede author">
                <% if @blogs[@count-1].updated_at > @blogs[@count-1].created_at %>
                  Updated <%= @blogs[@count - 1].updated_at.to_s[5,5] %>
                <% else %>
                  <%= @blogs[@count - 1].created_at.to_s[5,5] %>
                <% end %>
              </span>
            </p>
          <% end %>
        </div>
      </div>
    </div>



    <% if @blogs.count >= 4 %>
    <div id="next-three-blogposts" class="row featurette topper">
      <% 3.times do |i| %>
        <% count = @count - 2 - i %>
        <div class="col-lg">
          <%= link_to "/blogs/#{@blogs[count].id}" do %>
            <%= image_tag @blogs[count].img, alt: @blogs[count].title, class:"img-fluid mx-auto blog-post-img"  %>
            <h4 class="headline"><%= @blogs[count].title %></h4>
            <h6 class="lede"><%= @blogs[count].subtitle %></h6>
            <p>
              <span class="lede author">
                <% if @blogs[count].updated_at > @blogs[count].created_at %>
                  Updated <%= @blogs[count].updated_at.to_s[5,5] %>
                <% else %>
                  <%= @blogs[count].created_at.to_s[5,5] %>
                <% end %>
              </span>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>

    <% if @blogs.count >= 7 %>
    <div id="next-three-blogposts" class="row featurette">
      <% 3.times do |i| %>
        <% count = @count - 5 - i %>
        <div class="col-lg">
          <%= link_to "/blogs/#{@blogs[count].id}" do %>
            <%= image_tag @blogs[count].img, alt: @blogs[count].title, class:"img-fluid mx-auto blog-post-img"  %>
            <h4 class="headline"><%= @blogs[count].title %></h4>
            <h6 class="lede"><%= @blogs[count].subtitle %></h6>
            <p>
              <span class="lede author">
                <% if @blogs[count].updated_at > @blogs[count].created_at %>
                  Updated <%= @blogs[count].updated_at.to_s[5,5] %>
                <% else %>
                  <%= @blogs[count].created_at.to_s[5,5] %>
                <% end %>
              </span>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <hr class="featurette-divider">

  <div class="container">
    <%= link_to 'New Blog', new_blog_path %>
  </div>
</div>
