
<div>
  <p id="notice"><%= notice %></p>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag @blogs[@count-1].img, class: "first-slide", alt: @blogs[@count-1].title %>
        <div class="container">
          <div class="carousel-caption">
            <h1><%= @blogs[@count-1].title %></h1>
            <p><%= @blogs[@count-1].subtitle %></p>
            <%= link_to "Learn More", "/blogs/#{@blogs[@count-1].id}", class: "btn btn-lg btn-primary", role: "button" %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag @blogs[@count-2].img, class: "second-slide", alt: @blogs[@count-2].title %>
        <div class="container">
          <div class="carousel-caption">
            <h1><%= @blogs[@count-2].title %></h1>
            <p><%= @blogs[@count-2].subtitle %></p>
            <%= link_to "Learn More", "/blogs/#{@blogs[@count-2].id}", class: "btn btn-lg btn-primary", role: "button" %>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <%= image_tag @blogs[@count-3].img, class: "third-slide", alt: @blogs[@count-3].title %>
        <div class="container">
          <div class="carousel-caption">
            <h1><%= @blogs[@count-3].title %></h1>
            <p><%= @blogs[@count-3].subtitle %></p>
            <%= link_to "Learn More", "/blogs/#{@blogs[@count-3].id}", class: "btn btn-lg btn-primary", role: "button" %>
          </div>
        </div>
      </div>
    </div>
  
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<hr class="featurette-divider">
  
<% 5.times do |item| %>
  <% count = @count - 1 - item %>
  <div class="row featurette">
    <div class="col-md-7">
      <h1>
        <%= @blogs[count].title %>
        <h3><%= @blogs[count].subtitle %></h3>
      </h1>
      <p><%= @blogs[count].text %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag @blogs[@count-4-item].img, alt: @blogs[@count-3-item].title, class:"featurette-image img-fluid mx-auto"  %>
    </div>
  </div>
<% end %>
  
<hr class="featurette-divider">


<%= link_to 'New Blog', new_blog_path %>
