
<% colors = ["#00bfbf", "#007f7f", "#007f7f"] %>


<div class="container" style="margin-top: 150px; ">
  <div class="row">

    <div class="col-lg-6" >
        <%= image_tag @blog.img, alt: @blog.title, size:"600x400", margin: "0 auto"%>
    </div>

      <div class="col-lg-6" style="padding: 20px; margin: 10px">
        <div>
        <%= link_to blogs_path do %>
          <i class="fas fa-arrow-circle-left text_color text-right" style="font-size: 300%; margin: 10px; color: <%= colors[0] %> "> </i>
        <% end %>

        <% if logged_in?(:site_admin) %>
          <%= link_to edit_blog_path(@blog) do %>
            <i class="fas fa-edit text-right" style="font-size: 300%; margin: 10px; color: <%= colors[0] %> "> </i>
          <% end %>

          <%= link_to blog_path(@blog), method: :delete, data: { confirm: 'Are you sure?' }  do %>
          <i class="fas fa-trash-alt text-right" style="font-size: 300%; margin: 10px; color: <%= colors[0] %> "> </i>
          <% end %>
        <% end %>
        </div>
        <div>
        <% if @blog.updated_at > @blog.created_at %>
          Updated <%= @blog.updated_at.to_s[5,5] %>
        <% else %>
          <h5 style="color: <%= colors[1] %>"> <%= @blog.created_at.to_s[5,5] %> </h5>
        <% end %>
        <h1 style="color: <%= colors[1] %>"> <strong><%= @blog.title %></strong></h1>
        <h5 style="color: <%= colors[1] %>"> <%= @blog.subtitle %></h5>
        <p style="color: black;" class="blog-text"><%= markdown @blog.text %> </p>
        </div>
      </div>
    </div>

  </div>
</div>

</div>
