<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @blog.subtitle %>
</p>

<p>
  <strong>Text:</strong>
  <%= @blog.text %>
</p>
<p>
  <strong>Img:</strong>
  <%= image_tag @blog.img, alt: @blog.title %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary" %> 
<%= link_to 'Back', blogs_path, class: "btn btn-warning" %>
