<div class="container col-md-6 offset-md-3 topper">
  <div class="container">
    <p id="notice"><%= notice %></p>
    
    <p>
      <span class="author">Author Name</span>&nbsp;
      <span class="lede">07/23</span>
    </p>
    <h1 class="headline"><%= @blog.title %></h1>
    <h4 class="lede"><%= @blog.subtitle %></h4>
    
    <%= image_tag @blog.img, alt: @blog.title, class: "img-fluid mx-auto blog-img"%>
    
    <p class="blog-text"><%= @blog.text %></p>
    
    <div class="row">
      <div class="col">
        <%= link_to 'Back', blogs_path, class: "btn btn-secondary" %>
      </div>
      <div class="col" style="text-align:right">
        <%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

  




