<div class="container-fluid">
  <div class="row">
    <div  class="col-md-9">
    </div>

    <div class="col-md-3 text-center" style="color: blue">
      <% unless current_teammate %>
      <!-- TODO: get these to work with font awesome.  -->
        <p> Sign in with:
        <%= link_to (image_tag "facebook.png", alt: "Sign in with Facebook", size: "30x30"), teammate_facebook_omniauth_authorize_path %>
        <%= link_to (image_tag "github.png", alt: "Sign in with Facebook", size: "30x30"), teammate_github_omniauth_authorize_path %>
        </p>
      <% else %>
          <p>
          <%= image_tag current_teammate.image, alt: current_teammate.name, height: "40px", width: "40px" %>
           <%= current_teammate.name %>
          </p>
          <br>
          <%= link_to "Logout", destroy_teammate_session_path, method: :delete %>
      <% end %>
        </div>
      </div>
    </div>
</div>
