
<div class="flex flex-width items-center" id="main_header">
    
    <div class="tc fl w-40" style="padding-right: 10px;" id="titlecontainer">
        <h1>
        <strong><span>Code </span></strong>
        <span><em>for</em></span>
        <strong>
          <span id="pdx"> PDX </span>
        </strong>
      </h1>
    </div>
    
    <div class="tc fl w-60 v-btm">
      <h5 class="code"> >> a Portland based civic-tech nonprofit affiliated with <a href="http://www.codeforamerica.org" target="_blank" class="b"> 
      Code for America </a>.</h5>
    </div>

</div>

<%= link_to  @meeting.url, target: "_blank" do  %>
<article data-name="article-full-bleed-background">
  <div class="cf" style="background: url(<%= asset_path 'c4pdx_blue.jpg' %>) no-repeat center center fixed; background-size: cover;">
    <div class="fl pa3 pa4-ns bg-white black-70 measure-narrow f3 times">
      <header class="bb b--black-70 pv4">
        <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">Next Meeting: <%= @meeting.title %></h3>
        <h4 class="f3 fw4 i lh-title mt0">Our Next meeting is <%= @meeting.eventstart.to_time.strftime('%a %b %d') %> at, <%= @meeting.eventstart.to_time.strftime('%I:%M %p') %></h4>
      </header>
      <section class="pt5 pb4">
        <p class="times lh-copy measure f4 mt0">
           <%= @meeting.body %> 
        </p>
      </section>
      <div class="tc">
       <a class="no-underline near-white bg-animate bg-near-black hover-bg-gray inline-flex items-center ma2 tc br2 pa2" href="<%= @meeting.url %>" title="Meetup">
        <i class="fab fa-meetup"></i>
        <span class="f6 ml3 pr2">RSVP on Meetup!</span>
      </a>
      </div>
    </div>
        <iframe src= '<%= @meeting.googlemapurl %>'
          width="400"
          height="350"
          frameborder="0"
          style="border:0"
          allowfullscreen>
        </iframe>
  </div>
</article>
<% end %>

<div class="flex">
  <div class= "w-70"> </div>
  <div class="w-30 tc bg-light-yellow">
      <h5><a href="<%= @meeting.url %>" target="_blank"> >>connect on Meetup! <i class="fab fa-meetup"></i> </h5> </a>
  </div>

</div>
<div id="second_feature">
  <div class="w-100 tc">
  <h1>Featured project </h1>
</div>

<div id="third_feature">
  <h1>Other projects </h1>
  <div id="projects container" class="flex flex-wrap" style="width: 80%; background-color: darkgray; padding: 10px 5px; overflow; auto; text-align: center;">
    <div class= "dim ba" style=" margin: 10px auto; width: 300px; height: 300px; padding: 3px; background-color: lightgray;"><h2>card 1 test</h2></div>
    <div style=" margin: 10px auto; width: 300px; height: 300px; padding: 3px; background-color: lightgray;"><h2>card 2 test</h2></div>
    <div style=" margin: 10px auto; width: 300px; height: 300px; padding: 3px; background-color: lightgray;"><h2>card 3 test</h2></div>
  </div>
<div>

<div id="partners">
  <h1>Our partners</h1>
</div>

<div id="support">
  <h1>Donate Now</h1>
</div>





<!-- /END THE FEATURETTES -->
<!--
<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
-->
