

<div style="width:100%" id="main_featurette">
  <div class="container featurette col-md-8 offset-md-2 col-xl-6 offset-xl-3" id="main-text">
    <h1 class="featurette-heading" id="main-title">
      Code for PDX
    </h1>
    <p class="lead"  id="subtitle-text">
      As a Code for America Brigade,
      we're part of a national network of civic-minded volunteers
      who contribute their skills toward using the web
      as a platform for local government and community service.
      Let’s all build it together.
    </p>
  </div>
</div>
<div class="row featurette background_white featurette_main">
  <div class="container text-left">
    <% if @meeting %>
    <div class="row">
      <div class="col-lg-8">
    <h1 class="text_color"> Next Meeting: <%= @meeting.title %> </h1>
    <h2 class="text_color">Our Next meeting is <%= @meeting.eventstart.to_time.strftime('%a %b %d') %> at, <%= @meeting.eventstart.to_time.strftime('%H:%M:') %> </h2>
    <h2 class=><%= @meeting.location %> </h2>
    <p> This will be the official launch of Code for PDX.
      We have so much to share with you folks!
      We will introduce our first projects, our partners, and talk about our process.</p>
      <%= link_to "RSVP NOW!", @meeting.url, class:"btn btn-lg btn-block background_red", target: "_blank" %>

    </div>
    <div class="col-lg-4">
      <iframe src= '<%= @meeting.googlemapurl %>'
              width="400"
              height="300"
              frameborder="0"
              style="border:0"
              allowfullscreen>
      </iframe>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-lg-12">
  <h1 class="text_color"> Next Meeting: To Be Announced </h1>
  <h2 class=>Biweekly Hackathons: TBA </h2>
  <p> Checkout our projects!</p>

  </div>

</div>
  <% end %>
</div>
</div>

<div class="row featurette featurette_main background_image text_white">
  <div class="container text-center">
    <h4>We connect civic technologists with project leaders who have ideas for community solutions.</h4>
    <div class="row">
    <div class="col-md-6">
      <div class="mb-4 box-shadow text-center card-height  background_xparent rounded text_white">
        <h1 style="font-size: 500%;">
        <i class="fa fa-user-plus" aria-hidden="true"></i>
      </h1>
        <div class="card-body">
          <%= link_to "I Want to Volunteer", new_volunteer_path, class: "btn background_darkblue btn-block btn-lg " %>
          <div class="d-flex justify-content-between align-items-center">

          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-4 box-shadow text-center card-height  background_xparent rounded text_white">
            <h1 style="font-size: 500%;">
            <i class="fas fa-project-diagram"></i>
          </h1>
            <div class="card-body">
              <%= link_to "I Have an Idea", volunteers_propose_path, class: "btn background_darkblue btn-block btn-lg " %>
              <div class="d-flex justify-content-between align-items-center">

              </div>
            </div>
          </div>
    </div>
  </div>
</div>

</div>

<div class="row featurette featurette_main background_xparent text_color">

  <hr class="featurette-divider background_pink">
  <div class="container">
    <h3>Checkout Our Current Projects!</h3>
    <div class="row">
      <% @projects.each do |project| %>
    <div class="col-md-4">
      <div class="mb-4 box-shadow masthead_height">
        <%= link_to "/projects/#{project.id}" do %>
        <%= image_tag project.img, alt: project.title, class:"img-fluid mx-auto latest-post-img card-img-top" %>
        <% end %>
        <div class="card-body background_white rounded">
          <h3>
          <%= project.subtitle %>
        </h3>
          <p class="card-text"><%= project.subtitle %></p>
          <div class="d-flex justify-content-between align-items-center">
            <small class="text_red">Fall/Winter 2018</small>
          </div>
        </div>
      </div>
    </div>
    <% end -%>


  </div>
</div>

</div>

<div class="featurette_main background_white text_color">

<div class="container col-md-8 offset-md-2 col-xl-6 offset-xl-3 ">
  <div class="container">
    <h3>Blog:</h3>

    <div class="row featurette blog">
      <div class="col-lg-8">
        <%= link_to "/blogs/#{@blogs[@count-1].id}" do %>
          <%= image_tag @blogs[@count - 1].img, alt: @blogs[@count - 1].title, class:"img-fluid mx-auto latest-post-img"  %>
        <% end %>
      </div>
      <div class="col-lg">
        <%= link_to "/blogs/#{@blogs[@count-1].id}" do %>
          <h2 class="headline"><%= @blogs[@count - 1].title %></h2>
          <h4 class="lede"><%= @blogs[@count - 1].subtitle %></h4>
          <p>
            <span class="lede author">
              <% if @blogs[@count-1].updated_at > @blogs[@count-1].created_at %>
                Updated <%= @blogs[@count - 1].updated_at.to_s[5,5] %>
              <% else %>
                <%= @blogs[@count - 1].created_at.to_s[5,5] %>
              <% end %>
            </span>
          </p>
        <% end %>
      </div>
    </div>
    <br>
    <%= link_to blogs_path  do %>
      More blog posts <i class="fas fa-arrow-right"></i>
    <% end %>
  </div>
</div>
</div>
<div class="container col-xl-12 background_darkblue text_white featurette_main">
  <div class="container contact">
    <h3>Get In Touch:</h3>
    <p>
      <i class="far fa-check-square text_greenblue "></i>
      Get started easily with our
      <%= link_to 'Quick Start Guide', quickstart_path, class: "text_greenblue" %>.
    </p>
    <p>
      <i class="fab fa-twitter-square text_greenblue"></i>
      Keep up with us on
      <%= link_to 'Twitter', 'https://twitter.com/codeforpdx', target: '_blank', class: "text_greenblue" %>
    </p>
    <p>
      <i class="fab fa-github-square text_greenblue"></i>
      Fork and modify our projects on
      <%= link_to 'Github', 'https://github.com/codeforpdx', target: '_blank', class: "text_greenblue"  %>.
    </p>
    <p>
      <i class="fab fa-slack text_greenblue"></i>
      Join the discussion! Chat with us on
      <%= link_to 'Slack', 'https://codeforpdx.slack.com/', target: '_blank', class: "text_greenblue" %>.
    </p>
    <p>
      <i class="fab fa-meetup text_greenblue"></i>
      Come to a meetup! Join us on
      <%= link_to 'Meetup.com', 'https://www.meetup.com/Code-for-PDX/', target: '_blank', class: "text_greenblue" %>
      for the updates on when and where we're meeting.
    </p>
  </div>
</div>

<div class="col-lg 12 text-center background_white featurette_main">
  <h1 class="text_color"> Support Code for PDX </h1>
  <p>
    Our Supporters.
    We rely on the help of financial, in-kind supporters and government partners to sustain our efforts tactically and financially.
    While Code for America subsidizes our operating costs,
    if Code for PDX is to continue its mission we will soon need the financial support of local sponsors,
    By supporting Code for PDX with a tax-deductible contribution, your organization will receive recognition at our events and through our many communications channels.
    Funds go directly toward web hosting, meeting space, and food and beverages for our awesome volunteers.
  </p>
  <div class="col-lg 12 text-center">
    <%= link_to "Donate Today!", "https://secure.codeforamerica.org/page/contribute/default?brigade=Code%20for%20PDX", class: "btn background_greenblue btn-lg" %>
  </div>




<!-- /END THE FEATURETTES -->
<!--
<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
-->
