<div class="masthead_height row text-center background_project">
  <div class="col-md-12" style="font-size: 4rem;">
  <h1 class="text-white topper featurette-heading rounded"> Current Projects</h1>
  <p class="text_pink"> These are a our current projects.  If you would like to take part, please click below.</p>
  <%= link_to "I Want to Volunteer", new_volunteer_path, class: "btn background_darkblue btn-lg " %>
</div>
</div>


<div class="container col-md-12 topper">
  <div class="container">
    <p id="notice"><%= notice %></p>

<div class="row">
    <% @projects.each do |project| %>

        <div class="card col-lg-5 offset-sm-1 topper">
          <div style="height: 180px; margin: 20px;">
          <%= link_to "projects/#{project.id}" do %>
            <%= image_tag project.img, alt: project.title, class:"img-fluid mx-aut" %>
          <% end %>
        </div>
        <div>
          <%= link_to "projects/#{project.id}" do %>
            <h2 class="text_color"><%= project.subtitle %></h2>
            <p class="text_color"><%= project.goal %></p>
            <p>
              <span class="lede author">
                <% if project.updated_at > project.created_at %>
                  Updated <%= project.updated_at.to_s[5,5] %>
                <% else %>
                  <%= project.created_at.to_s[5,5] %>
                <% end %>
              </span>
            </p>
          <% end %>
        </div>
      </div>

    <% end %>
</div>

    <% if @projects.count >= 4 %>
    <div id="next-three-blogposts" class="row featurette topper">
      <% 3.times do |i| %>
        <% count = @count - 2 - i %>
        <div class="col-lg">
          <%= link_to "/projects/#{@projects[count].id}" do %>
            <%= image_tag @projects[count].img, alt: @projects[count].title, class:"img-fluid mx-auto blog-post-img"  %>
            <h4 class="headline"><%= @projects[count].title %></h4>
            <h6 class="lede"><%= @projects[count].subtitle %></h6>
            <p>
              <span class="lede author">
                <% if @projects[count].updated_at > @projects[count].created_at %>
                  Updated <%= @projects[count].updated_at.to_s[5,5] %>
                <% else %>
                  <%= @projects[count].created_at.to_s[5,5] %>
                <% end %>
              </span>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>

    <% if @projects.count >= 7 %>
    <div id="next-three-blogposts" class="row featurette">
      <% 3.times do |i| %>
        <% count = @count - 5 - i %>
        <div class="col-lg">
          <%= link_to "/projects/#{@projects[count].id}" do %>
            <%= image_tag @projects[count].img, alt: @projects[count].title, class:"img-fluid mx-auto blog-post-img"  %>
            <h4 class="headline"><%= @projects[count].title %></h4>
            <h6 class="lede"><%= @projects[count].subtitle %></h6>
            <p>
              <span class="lede author">
                <% if @projects[count].updated_at > @projects[count].created_at %>
                  Updated <%= @projects[count].updated_at.to_s[5,5] %>
                <% else %>
                  <%= @projects[count].created_at.to_s[5,5] %>
                <% end %>
              </span>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>

  <hr class="featurette-divider">

  <div class="container">
    <%= link_to 'New project', new_project_path if logged_in?(:site_admin) %>
  </div>
</div>
