<div class="container col-md-6 offset-md-3 topper">
  <div class="container">
    <p id="notice"><%= notice %></p>

    <p>
      <span class="lede author">
      <% if @project.updated_at > @project.created_at %>
        Updated <%= @project.updated_at.to_s[5,5] %>
      <% else %>
        <%= @project.created_at.to_s[5,5] %>
      <% end %>
      </span>
    </p>
    <h1 class="headline"><%= @project.title %></h1>
    <h4 class="lede"><%= @project.subtitle %></h4>

    <%= image_tag @project.img, alt: @project.title, class: "img-fluid mx-auto blog-img"%>
    <%= link_to @project.github_url do %>
      <p> github </p>
    <% end %>
    <h5> <strong> Contact: </strong></h5> <h5><%= @project.content_lead %> </h5>
    <h5><strong> Problem: </strong></h5>
    <p class="blog-text"><%= @project.problem %></p>

    <h5><strong> Scope: </strong></h5>
    <p class="blog-text"><%= @project.scope %></p>
    <h5><strong> Goal: </strong></h5>
    <p class="blog-text"><%= @project.goal %></p>
    <h5><strong> Proposal: </strong></h5>
    <p class="blog-text"><%= @project.proposal %></p>

    <div class="row">
      <div class="col">
        <%= link_to 'Back', root_path, class: "btn btn-primary btn-lrg" %>
      </div>
      <div class="col" style="text-align:right">
        <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary"  if logged_in?(:site_admin) %>
        <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"  if logged_in?(:site_admin) %>
      </div>
    </div>
  </div>
</div>
