<% case @project.color %>
<% when "#5907f2" %>
<% colors = ["#5907f2","#d098e2","#570472"] %>
<% when "#269b0f" %>
<% colors = ["#269b0f","#67b957","#1a6c0a"] %>
<% when "#e2841f" %>
<% colors = ["#e2841f","#eaa862","#b46918"] %>
<% else %>
<% colors = ["#5907f2","#d098e2","#570472"] %>
<% end %>
<style>


</style>
<svg width="100%" height="330" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
 <!-- Created with SVG-edit - https://github.com/SVG-Edit/svgedit-->
 <g class="layer">
  <title>Layer 1</title>
  <!-- <path d="m192.0325,274.13748l0,-1l1,1l-1,0z" fill="#9516bc" id="svg_25" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/> -->
  <path d="m0,58l-0.5,177.5l3035,100l-1,-274l-633.5,-3.5z" fill=<%= colors[0] %> id="svg_1" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
  <path d="m192.0325,274.13748l0,-1l1,1l-1,0z" fill="#5907f2" id="svg_25" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
  <path d="m192.0325,274.13748l0,-1l1,1l-1,0z" fill="#5907f2" id="svg_25" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
   <path d="m499.15255,197.45535l17.78572,-35.57143l47.42858,0l17.78572,35.57143l-17.78572,35.57144l-47.42858,0l-17.78572,-35.57144z" fill=<%= colors[2] %>   id="svg_6" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
   <path d="m378.15255,76.45535l17.78572,-35.57143l47.42858,0l17.78572,35.57143l-17.78572,35.57144l-47.42858,0l-17.78572,-35.57144z" fill=<%= colors[1] %> id="svg_7" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
   <path d="m440.15255,252.45535l17.78572,-35.57143l47.42858,0l17.78572,35.57143l-17.78572,35.57144l-47.42858,0l-17.78572,-35.57144z" fill=<%= colors[2] %> id="svg_8" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
   <path d="m507.15255,293.45535l17.78572,-35.57143l47.42858,0l17.78572,35.57143l-17.78572,35.57144l-47.42858,0l-17.78572,-35.57144z" fill=<%= colors[1] %> id="svg_9" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
   <path d="m299.15255,123.45535l17.78572,-35.57143l47.42858,0l17.78572,35.57143l-17.78572,35.57144l-47.42858,0l-17.78572,-35.57144z" fill=<%= colors[2] %> id="svg_10" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
   <path d="m379.15255,162.45535l17.78572,-35.57143l47.42858,0l17.78572,35.57143l-17.78572,35.57144l-47.42858,0l-17.78572,-35.57144z" fill=<%= colors[1] %> id="svg_11" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
   <path d="m447.15255,125.45535l17.78572,-35.57143l47.42858,0l17.78572,35.57143l-17.78572,35.57144l-47.42858,0l-17.78572,-35.57144z" fill=<%= colors[2] %> id="svg_12" stroke="#000000" stroke-dasharray="null" stroke-linecap="null" stroke-linejoin="null" stroke-width="0"/>
  <text xml:space="preserve" text-anchor="middle" font-family="Monospace" font-size="24" id="svg_72" y="170" x="70%" stroke-opacity="0" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="0" stroke="#000000" fill="#f9f4f4"><%= @project.title%></text>
 </g>
</svg>
</div>
<div class="container">
  <div class="row">

    <div class="col-lg-6">
      <div style="padding: 20px; margin: 10px">
        <h5 style="color: <%= colors[2] %>"> <strong> Contact: </strong></h5>
        <p class="blog-text"><%= markdown @project.content_lead %> </p>
        <h5 style="color: <%= colors[2] %>"><strong> Problem: </strong></h5>
        <p class="blog-text" style="color: black;"><%= markdown @project.problem %></p>
        <h5 style="color: <%= colors[2] %>"><strong> Scope: </strong></h5>
        <p class="blog-text" style="color: black;"><%= markdown @project.scope %></p>
        <h5 style="color: <%= colors[2] %>"><strong> Proposal: </strong></h5>
        <p><%= markdown @project.proposal %></p>
      </div>
    </div>

<div class="col-lg-5" style="text-align: right; margin-right: 10px; background: <%= colors[0] %>">
  <br>
  <%= link_to 'Get Involved!', new_volunteer_path, class: "btn btn-block", style: "background: #{colors[2]}" %>

  <%= link_to "#{@project.github_url}/wiki" do %>
  <i class="fab fa-wikipedia-w text_color text-right" style="font-size: 300%; margin: 10px; color: <%= colors[1] %> "> </i>
  <% end %>
  <%= link_to @project.github_url do %>
  <i class="fab fa-github text_color text-right" style="font-size: 300%; margin: 10px; color: <%= colors[1] %>"> </i>
  <% end %>
  <%= link_to @project.slack do %>
  <i class="fab fa-slack text_color text-right" style="font-size: 300%; margin: 10px; color: <%= colors[1] %>"> </i>
  <% end %>
  <% if @project.trello? %>
    <%= link_to @project.trello do %>
      <i class="fab fa-trello text_color text-right" style="font-size: 300%; margin: 10px; color: <%= colors[1] %>"> </i>
    <% end %>
  <% end %>
  <%= image_tag @project.img %>

  <div style="text-align: left; margin-left: 10%;">
      <%= link_to 'Edit', edit_project_path(@project), class: "btn", style: "background: #{colors[2]}"   if logged_in?(:site_admin) %>
      <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn",style: "background: #{colors[2]}"   if logged_in?(:site_admin) %>
  </div>

</div>


  </div>
</div>
<!--
<div class="col-lg-12 topper row">
    <div class="text-right">
      <%= link_to @project.github_url do %>
      <i class="fab fa-github text_color text-right" style="font-size: 300%;"> </i>
      <% end %>
      <%= link_to @project.slack do %>
      <i class="fab fa-slack text_color text-right" style="font-size: 300%;"> </i>
      <% end %>
      <% if @project.trello? %>
        <%= link_to @project.trello do %>
          <i class="fab fa-trello text_color text-right" style="font-size: 300%;"> </i>
        <% end %>
      <% end %>
    </div>
  </div>

<div style:"margin: 10 auto">
    <h5 class="text_color"> <strong> Contact: </strong></h5>
    <p class="blog-text"><%= @project.content_lead %> </p>
    <h5 class="text_color"><strong> Problem: </strong></h5>
    <p class="blog-text"><%= @project.problem %></p>

    <h5 class="text_color"><strong> Scope: </strong></h5>
    <p class="blog-text"><%= @project.scope %></p>
    <h5 class="text_color"><strong> Goal: </strong></h5>
    <p class="blog-text"><%= @project.goal %></p>
    <h5 class="text_color"><strong> Proposal: </strong></h5>
    <p class="blog-text"><%= @project.proposal %></p>
</div>

    <div class="row ">
      <div class="col-md-3 text-center">
        <%= link_to 'Get involved!', new_volunteer_path, class: "btn btn-primary btn-block", size: "30x100", style:"background: colors[2]" %>
      </div>
      <div class="col-md-3 text-center">
        <%= link_to 'Back', root_path, class: "btn btn-primary btn-block", size: "30x100" %>
      </div>
      <div class="col" style="text-align:right">
        <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary"  if logged_in?(:site_admin) %>
        <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"  if logged_in?(:site_admin) %>
      </div>
    </div>
</div> -->
