<div class="container col-md-8 offset-md-2 col-xl-6 offset-xl-3 topper" style="margin-top: 60px;">
  <div class="container">
    <h1>Who We Are</h1>
    <h2>Local Civic Innovators and Creative Problem-Solvers.</h2>
    <p>
    We are civic-minded residents committed to working with the City of Portland,
    Multnomah County and other municipalities in the greater Portland area –
    as well as other nonprofit organizations –
    to make our region stronger.
    We’re here to help and eager to learn from professional public servants.
    And while we’re advocates for open government (we can’t build apps without open data!),
    we’re non-partisan and public-minded.
    </p>
    <p>
    We're a group of civic-minded coders, public-employees, designers,
    and extraordinary citizens.
    We work in partnership with government, non-profit,
    and technical partners to deploy technology to improve quality of life
    for all residents and increase citizen engagement with civic issues.
    </p>
    <p>
    Ultimately, our goal is to make life better for residents by improving personal and
    collective outcomes through helping build local government services that are better,
    faster, and cheaper and have the greatest impact for the greatest amount of people who
    have the greatest need for assistance and efficient public services.
    </p>

  <!-- <h3> Code for PDX Leadership Structure </h3>

  <h4> Code for PDX has three general tiers of leadership: </h4>
  <p>
  Project Leadership, an Advisory Board, and the Executive Leadership Team.
  Project Leadership takes place on a fluid basis as new projects come about.
  Executive Leadership is elected by the outgoing Executive Leadership slate after two-years of service.
  The Executive Leadership appoints Advisory Board members as positions become vacant.
  <p> -->

    <h3>Executive Leadership</h3>
    <p>
    Code for PDX is led by an Executive Leadership Team that organizes events,
    manages strategic partnerships, and ensures fluid communication
    among cross-functional project teams.
    The Executive Team oversees volunteer management, organizational sustainability,
    day-to-day operations, and the engagement of the Advisory Board.
    </p>

    <% @teammates.each do |mate| %>
      <div class="row member-box">
        <div class="col-md-4">
          <%= image_tag mate.img, alt: mate.name, class:"img-fluid mx-auto latest-post-img" %>
          <h4> <%= mate.name %> </h4>
          <div class="member-links">
            <%= mail_to mate.email do %>
              <i class='far fa-envelope'></i>
            <% end %>
            <%= link_to mate.twitter, target: '_blank' do %>
              <i class="fab fa-twitter-square"></i>
            <% end %>
            <%= link_to mate.github, target: '_blank' do %>
              <i class="fab fa-github-square"></i>
            <% end %>
          </div>
        </div>
        <div class="col-md">
          <p>
            <%= mate.bio %>
          </p>
        </div>
      </div>
    <% end %>

    <!--
    <h3 class="topper"> Project Management</h3>
    <p>
    Code for PDX Projects are led by a Project Management Team that organizes talent,
    manages project goals, drives deliverables, and ensures fluid communication
    among the project team.
    </p>

    <div class="row member-box">
      <div class="col-md-4">
        <img src="http://via.placeholder.com/150x150" alt: "team member">
        <h6> Team Member 1 </h6>
        Project(s): <a href="#"> Project Name </a>
        <div class="member-links">
          <%= link_to 'mailto:email@codeforpdx.org' do %>
            <i class='far fa-envelope'></i>
          <% end %>
          <%= link_to 'http://www.twitter.com/codeforpdx' do %>
            <i class="fab fa-twitter-square"></i>
          <% end %>
          <%= link_to "http://www.github.com/codeforpdx" do %>
            <i class="fab fa-github-square"></i>
          <% end %>
        </div>
      </div>
      <div class="col-md">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
          when an unknown printer took a galley of type and scrambled it to make a
          type specimen book. It has survived not only five centuries, but also the
          leap into electronic typesetting, remaining essentially unchanged.
          It was popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages, and more recently with desktop publishing
          software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
    -->
    <br>
  </div>
</div>
