<!DOCTYPE html>
<html>
  <head>
    <title>Code for PDX | A Code for America Brigade</title>
    <%= favicon_link_tag asset_path('logo.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content=<%= @seo_keywords %> />
    <meta property="og:title" content="Code for PDX">
    <meta property="og:description" content="Civic Tech for the Portland Metro Area">
    <meta property="og:image" content= "logo.png">
    <meta property="og:url" content="http://www.codeforpdx.org">
    <meta property="og:type"content="article" />
    <meta name="twitter:title" content="Code for PDX">
    <meta name="twitter:description" content=" Civic Tech for the Portland Metro Area">
    <meta name="twitter:image" content="logo.png">
    <meta name="twitter:card" content="logo.png">
    <meta name="twitter:site" content="@codeforpdx">


    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="carousel.css" rel="stylesheet">
    <!-- link to fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Google fonts -->
     <link href="https://fonts.googleapis.com/css?family=Cabin:400,700|Roboto+Slab:700|Lato:300|Merriweather:300" rel="stylesheet">
     <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
  </head>

  <body class="bt b--gold bw3 flex flex-wrap">
    <div class="fl w-10 bg-washed-blue">
    </div>

    <div class="fl w-80 ">
        <%= render '/shared/header' %>

        <main role="main">

        <%= yield %>

        </main>
    </div>

    <div class="fl w-10 bg-washed-blue ">
    </div>

   <%= render 'shared/footer' %>
  </body>
 
</html>

 <%= alerts %>
