<!DOCTYPE html>
<html>
  <head>
    <title>Code for PDX</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content=<%= @seo_keywords %> />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" >

      <%= render '/shared/header' %>

      <%= yield %>

      <%= render 'shared/footer' %>

      </div>
  </body>
</html>

 <%= alerts %>
